:root {
  --cinza: #767676;
  --vermelha: #b2007b;
  --vermelha-escura:  #c4ff00;
  --branca: #fff;
  --rosa: #fa40bf; 
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background-image: url("../images/background-green.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--rosa);
  margin-bottom: 20px;
  font-size: 5rem;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 4px 2px 2px rgb(104, 4, 253);

}

.img_meme {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#929292 100%);
  box-shadow: 6px 8px 0 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}

.rodape {
  padding: 20px;
  background-color: var(--vermelha-escura);
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #000;
}

@media screen and (min-width: 390px) {
  .teclado {
    width: 95%;
  }
  .tecla {
    width: 100%;
  }

}

@media screen and (min-width: 470px) {
  .teclado {
    width: 90%;
  }

  .tecla {
    width: 95%;
  }

}

@media screen and (min-width: 650px) {
  .teclado {
    width: 70%;
  }

  .tecla {
    width: 90%;
  }
}

@media screen and (min-width: 850px) {
  .teclado {
    width: 60%;
  }

}
@media screen and (min-width: 1020px) {
  .teclado {
    width: 50%;
  }

}

@media screen and (min-width: 1220px) {
  .teclado {
    width: 40%;
  }

}

@media screen and (min-width: 1420px) {
  .teclado {
    width: 30%;
  }

}

@media screen and (min-width: 1720px) {
  .teclado {
    width: 25%;
  }

}